<div class="container main-container">
  <h4>{{ tipoMidia.nome }} </h4>
  <br>

  <div class="row">
      <div class="col-md-6">
          <dl>
              <dt>
                  Nome
              </dt>
              <dd>
                  {{ tipoMidia.nome }}
              </dd>
          </dl>

          <div>
            <a class="btn btn-warning" [routerLink]="['/tipos-de-midia/editar', tipoMidia.tipoMidiaId]">Editar</a>&nbsp;
            <a class="btn btn-info" [routerLink]="['/tipos-de-midia/listar-todos']">Voltar</a>
          </div>
      </div>
  </div>

</div>
