<div class="container main-container">

  <h1>Artistas</h1>
  <hr>

  <p>
      <a class="btn btn-info" [routerLink]="['/artistas/adicionar-novo']">Novo Artista</a>
  </p>

  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th>
                  Nome
              </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let artista of artistas">
              <td>
                  {{ artista.nome }}
              </td>
              <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/artistas/detalhes', artista.artistaId]">
                  <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-info" [routerLink]="['/artistas/editar', artista.artistaId]">
                  <span class="fa fa-pencil-alt"></span>
                </a>&nbsp;
                <a class="btn btn-danger" [routerLink]="['/artistas/excluir', artista.artistaId]">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
