<div class="container main-container">
  <h4>{{ album.titulo }} </h4>
  <br>
  <h5>Você tem certeza disso?</h5>

  <div class="row">
      <div class="col-md-6">
          <dl>
            <dt>
              Título
            </dt>
            <dd>
              {{ album.titulo }}
            </dd>
            <dt>
              Artista
            </dt>
            <dd>
              {{ album.artista.nome }}
            </dd>
          </dl>

          <div>
            <a class="btn btn-warning" [routerLink]="['/albuns/editar', album.albumId]">Editar</a>&nbsp;
            <a class="btn btn-info" [routerLink]="['/albuns/listar-todos']">Voltar</a>
          </div>
      </div>
  </div>

</div>
