<div class="container main-container">

  <h1>Funcionários</h1>
  <hr>

  <p>
      <a class="btn btn-info" [routerLink]="['/funcionarios/adicionar-novo']">Novo Funcionário</a>
  </p>

  <div>
    <form [formGroup]="funcionarioFiltro">
      <div class="form-group">
        <div class="row ml-1">
          <input
            class="form-control mr-2 mb-2"
            id="primeiroNome"
            type="text"
            placeholder="Primeiro nome"
            formControlName="primeiroNome"
          />
          <input
            class="form-control mr-2 mb-2"
            id="sobrenome"
            type="text"
            placeholder="Sobrenome"
            formControlName="sobrenome"
          />
          <input
            class="form-control mr-2 mb-2"
            id="titulo"
            type="text"
            placeholder="Título"
            formControlName="titulo"
          />
          <input
            class="form-control mr-2 mb-2"
            id="endereco"
            type="text"
            placeholder="Endereço"
            formControlName="endereco"
          />
          <input
            class="form-control mr-2 mb-2"
            id="cidade"
            type="text"
            placeholder="Cidade"
            formControlName="cidade"
          />
          <input
            class="form-control mr-2 mb-2"
            id="estado"
            type="text"
            placeholder="Estado"
            formControlName="estado"
          />
          <input
            class="form-control mr-2 mb-2"
            id="pais"
            type="text"
            placeholder="País"
            formControlName="pais"
          />
          <input
            class="form-control mr-2 mb-2"
            id="cep"
            type="text"
            placeholder="CEP"
            formControlName="cep"
          />
          <input
            class="form-control mr-2 mb-2"
            id="fone"
            type="text"
            placeholder="Fone"
            formControlName="fone"
          />
          <input
            class="form-control mr-2 mb-2"
            id="fax"
            type="text"
            placeholder="Fax"
            formControlName="fax"
          />
          <input
            class="form-control mr-2 mb-2"
            id="email"
            type="text"
            placeholder="Email"
            formControlName="email"
          />
          <select class="form-control mr-2" id="gerenteId" formControlName="gerenteId">
            <option
              *ngFor="let gerente of gerentes"
              value="{{ gerente.funcionarioId }}"
            >{{ gerente.primeiroNome + ' ' + gerente.sobrenome }}</option>
          </select>
          <input
            type="submit"
            class="btn btn-success mr-2"
            value="Filtrar"
            (click)="filtrar()"
          />
          <input
            type="submit"
            class="btn btn-primary"
            value="Limpar filtro"
            (click)="limparFiltro()"
          />
        </div>
      </div>
    </form>
  </div>

  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th>
                Nome Completo
              </th>
              <th>
                Título
              </th>
              <th>
                Data de Nascimento
              </th>
              <th>
                Data de Admissão
              </th>
              <th>
                Fone
              </th>
              <th>
                Email
              </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let funcionario of funcionarios">
              <td>
                {{ funcionario.primeiroNome + ' ' + funcionario.sobrenome }}
              </td>
              <td>
                {{ funcionario.titulo }}
              </td>
              <td>
                {{ funcionario.dataNascimento | date:'dd/MM/yyyy' }}
              </td>
              <td>
                {{ funcionario.dataAdmissao | date:'dd/MM/yyyy' }}
              </td>
              <td>
                {{ funcionario.fone }}
              </td>
              <td>
                {{ funcionario.email }}
              </td>
              <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/funcionarios/detalhes', funcionario.funcionarioId]">
                  <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-info" [routerLink]="['/funcionarios/editar', funcionario.funcionarioId]">
                  <span class="fa fa-pencil-alt"></span>
                </a>&nbsp;
                <a class="btn btn-danger" [routerLink]="['/funcionarios/excluir', funcionario.funcionarioId]">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
