<div class="container main-container">

  <h1>Gêneros</h1>
  <hr>

  <p>
      <a class="btn btn-info" [routerLink]="['/generos/adicionar-novo']">Novo Gênero</a>
  </p>

  <div>
    <form [formGroup]="generoFiltro">
      <div class="form-group">
        <div class="row ml-1">
          <input
            class="form-control mr-2"
            id="nome"
            type="text"
            placeholder="Nome"
            formControlName="nome"
          />
          <input
            type="submit"
            class="btn btn-success mr-2"
            value="Filtrar"
            (click)="filtrar()"
          />
          <input
            type="submit"
            class="btn btn-primary"
            value="Limpar filtro"
            (click)="limparFiltro()"
          />
        </div>
      </div>
    </form>
  </div>

  <table class="table table-hover">
      <thead class="thead-dark">
          <tr>
              <th>
                  Nome
              </th>
              <th></th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let genero of generos">
              <td>
                  {{ genero.nome }}
              </td>
              <td class="text-right">
                <a class="btn btn-warning" [routerLink]="['/generos/detalhes', genero.generoId]">
                  <span class="fa fa-search"></span>
                </a>&nbsp;
                <a class="btn btn-info" [routerLink]="['/generos/editar', genero.generoId]">
                  <span class="fa fa-pencil-alt"></span>
                </a>&nbsp;
                <a class="btn btn-danger" [routerLink]="['/generos/excluir', genero.generoId]">
                  <span class="fa fa-trash"></span>
                </a>
              </td>
          </tr>
      </tbody>
  </table>
</div>
