<div class="container main-container">
  <h4>{{ playlist.nome }} </h4>
  <br>

  <div class="row">
      <div class="col-md-6">
          <dl>
              <dt>
                  Nome
              </dt>
              <dd>
                  {{ playlist.nome }}
              </dd>
          </dl>

          <div>
            <a class="btn btn-warning" [routerLink]="['/playlists/editar', playlist.playlistId]">Editar</a>&nbsp;
            <a class="btn btn-info" [routerLink]="['/playlists/listar-todos']">Voltar</a>
          </div>
      </div>
  </div>

</div>
