<div class="container main-container">

  <h3>Novo Álbum</h3>

  <hr>
  <div class="row">
      <div class="col-md-10">
          <form enctype="multipart/form-data" (ngSubmit)="adicionarAlbum()" [formGroup]="albumForm">

              <div class="alert alert-danger" *ngIf="errors.length > 0">
                  <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                  <ul>
                      <li *ngFor="let error of errors">{{ error }}</li>
                  </ul>
              </div>

              <div class="form-group">
                <label class="control-label">Título</label>
                <div>
                  <input class="form-control" id="titulo" type="text" placeholder="Título (requerido)" formControlName="titulo" [ngClass]="{'is-invalid': displayMessage.titulo }" />
                  <span class="text-danger" *ngIf="displayMessage.titulo">
                    <p [innerHTML]="displayMessage.titulo"></p>
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label">Artista</label>
                <div>
                  <select formControlName="artistaId">
                    <option
                      *ngFor="let artista of artistas"
                      value="{{ artista.artistaId }}"
                    >
                      {{ artista.nome }}
                    </option>
                  </select>
                  <span class="text-danger" *ngIf="displayMessage.artistaId">
                    <p [innerHTML]="displayMessage.artistaId"></p>
                  </span>
                </div>
              </div>

              <div class="form-group">
                  <input type="submit" [disabled]="!albumForm.valid" value="Cadastrar" class="btn btn-primary" id="cadastroAlbum">&nbsp;
                  <a class="btn btn-info" [routerLink]="['/albuns/listar-todos']">Voltar</a>
              </div>
          </form>
      </div>
  </div>
</div>
