<div class="container main-container">

  <h3>Editar Tipo de Mídia - {{ tipoMidia.nome }}</h3>

  <hr>
  <div class="row">
      <div class="col-md-10">
          <form enctype="multipart/form-data" (ngSubmit)="editarTipoMidia()" [formGroup]="tipoMidiaForm">

              <div class="alert alert-danger" *ngIf="errors.length > 0">
                  <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
                  <ul>
                      <li *ngFor="let error of errors">{{ error }}</li>
                  </ul>
              </div>

              <div class="form-group">
                  <label class="control-label">Nome</label>
                  <div>
                      <input class="form-control" id="nome" type="text" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage.nome }" />
                      <span class="text-danger" *ngIf="displayMessage.nome">
                          <p [innerHTML]="displayMessage.nome"></p>
                      </span>
                  </div>
              </div>

              <div class="form-group">
                  <input type="submit" [disabled]="!tipoMidiaForm.valid" value="Editar" class="btn btn-primary">&nbsp;
                  <a class="btn btn-info" [routerLink]="['/tipos-de-midia/listar-todos']">Voltar</a>
              </div>
          </form>
      </div>
  </div>
</div>
