<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
      <div class="container">
          <a class="navbar-brand" [routerLink]="['/home']">Tunes</a>
          <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
              </button>
          <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngbCollapse]="isCollapsed">

              <app-menu-login></app-menu-login>

              <ul class="navbar-nav flex-grow-1" *ngIf="localStorageUtils.obterUsuario()">
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/home']">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/artistas/listar-todos']">Artistas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/generos/listar-todos']">Gêneros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/playlists/listar-todos']">Playlists</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/tipos-de-midia/listar-todos']">Tipos de Mídia</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/albuns/listar-todos']">Álbuns</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/faixas/listar-todos']">Faixas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/funcionarios/listar-todos']">Funcionários</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
</header>
